<head>
    <title>Strike Smart Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="shortcut icon" href="{{ BASE_URL }}/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="{{ BASE_URL }}/css/style.css" />
    <link rel="stylesheet" type="text/css" href="{{ BASE_URL }}/css/flipclock.css" />
    <script type="text/javascript" src="{{ BASE_URL }}/js/jquery.min.js"></script>
    <script type="text/javascript" src="{{ BASE_URL }}/js/flipclock.min.js"></script>
    <script type="text/javascript" src="{{ BASE_URL }}/js/reconnecting-websocket.min.js"></script>
    <script type="text/javascript" src="{{ BASE_URL }}/js/socket.js"></script>
    <script type="text/javascript" src="{{ BASE_URL }}/js/js.js"></script>
</head>